<h1>Listing farmers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Farm</th>
    <th>Produce</th>
    <th>Produce price</th>
    <th></th>
  </tr>

<% @farmers.each do |farmer| %>
  <tr>
    <td><%= farmer.name %></td>
    <td><%= farmer.email %></td>
    <td><%= farmer.farm %></td>
    <td><%= farmer.produce %></td>
    <td><%= farmer.produce_price %></td>
    <td><%= link_to 'Show', farmer %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Farmer', new_farmer_path %>
