<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @farmer.name %>
</p>

<p>
  <b>Email:</b>
  <%= @farmer.email %>
</p>

<p>
  <b>Farm:</b>
  <%= @farmer.farm %>
</p>

<p>
  <b>Produce:</b>
  <%= @farmer.produce %>
</p>

<p>
  <b>Produce price:</b>
  <%= number_to_currency(@farmer.produce_price, :unit => "$") %>
</p>



<% if (@is_admin) %>
  <%= link_to 'Edit', edit_farmer_path(@farmer) %>
<% end %>
